<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Ruby Jobs', root_path, class: "nav-link home-link"%>
 <span class="sr-only"></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">

      <p class="any-question"><span>Any question? -> </span><a href="mailto:kogan.miha@gmail.com?subject=PortfolioContact" "email me">kogan.miha@gmail.com</a></p>
    </form>
  </div>
</nav>