@import "bootstrap";

a:hover {
  text-decoration: none;
}

.home-link {
  color: #C8C8C8;
}

.home-link:hover {
  color: #E8E7E7;
}

.any-question, .any-question  a {
  color: #C8C8C8;
}

.any-question , .any-question a:hover {
  color: #E8E7E7;
}
