@import "bootstrap";

.home-title {
  margin-left: 20px;
  color: #C8C8C8;
  font-weight: bold;
}

a:visited {
  color: red;
}

.any-question, .any-question  a {
  color: #C8C8C8;
  margin-top: 10px;
}

.any-question , .any-question a:hover {
  color: #E8E7E7;
}
